.header{
    padding: 30px 0;
    @include media(992){
        padding: 20px 0;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(767){
            flex-direction: column;
        }
    }
    &__logo{
        @include media(992){
            width: 147px;
        }
        @include media(767){
            width: 250px;
            margin-bottom: 15px;
        }
        img{
            width: 100%;
        }
    }
    &__adresses{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 9px;
        @include media(767){
            order: 5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__adress{
        display: flex;
        align-items: center;
        column-gap: 18px;
        font-weight: 400;
        font-size: 16.0174px;
        line-height: 22px;
        color: #4B4A53;
        @include media(992){
            column-gap: 5px;
            font-weight: 400;
            font-size: 10px;
            line-height: 13px;
        }
        @include media(767){
            font-size: 17px;
            line-height: 22px;
        }
        img{
            @include media(992){
                width: 8px;
            }
        }
    }
    &__order{     
        display: flex;
        align-items: flex-start;
        column-gap: 5px;
        @include media(767){
            align-items: center;
            margin-bottom: 10px;
        }
        img{
            @include media(992){
                width: 10px;
            }
            @include media(767){
                width: 20px;
            }
        }
        a{     
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: #4B4A53;   
            padding-bottom: 5px;
            border-bottom: 2px dotted #4B4A53;
            @include media(992){
                font-weight: 400;
                font-size: 12px;
                line-height: 13px;
                padding-bottom: 2px;
            }
            @include media(767){
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
            }
        }
    }
    &__phone{
        font-family: Lobster;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        text-align: right;
        color: #E23E8F;
        @include media(992){
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }
        @include media(767){
            font-weight: 400;
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 10px;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 25px;
        background: #575269;
        border-radius: 15px;
        height: 60px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 25px;
        @include media(992){
            height: 35px;
            margin-bottom: 15px;
        }
        @include media(767){
            display: none;
        }
    }
    &__li{
        height: 100%;
        &:nth-of-type(1){
            .header__link{
                padding-left: 30px;
                @include media(1200){
                    padding-left: 27px;
                }
                @include media(992){
                    padding-left: 20px;
                }
                &.active,
                &:hover{
                    background: #E23E8F;
                    border-radius: 15px 0 0 15px;
                }
            }
        }
        &:nth-of-type(7){
            .header__link{
                padding-right: 31px;
                @include media(992){
                    padding-right: 20px;
                }
                &.active,
                &:hover{
                    background: #E23E8F;
                    border-radius: 0px 15px 15px 0;
                }
            }
        }
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 100%;
        padding-right: 35px;
        padding-left: 20px;
        transition: 300ms ease;
        @include media(1200){
            padding-right: 17px;
            padding-left: 12px;
        }
        @include media(992){
            font-size: 10px;
            line-height: 13px;
            column-gap: 3px;
            padding-right: 14px;
            padding-left: 14px;
        }
        img{
            @include media(992){
                width: 15px;
            }
        }
        &.active,
        &:hover{
            background: #E23E8F;
        }
    }
    &__img{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        @include media(767){
            display: none;
        }
        img{
            width: 100%;
        }
    }
}