.presents{
    padding-bottom: 35px;
    @include media(992){
        padding-bottom: 20px;
    }
    &__desc{
        margin-bottom: 33px;
        &.presents__desc_first{
            @include media(1400){
                margin-bottom: 17px;
            }
        }
        &.presents__desc_last{
            margin-bottom: 0;
        }
    }
    &__title{
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #4B4A53;
        @include media(992){
            margin-bottom: 15px;
        }
        @include media(768){
            font-size: 21px;
            line-height: 30px;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #4B4A53;
        @include media(768){
            font-size: 14px;
            line-height: 18px;
        }
        span{
            color: #E23E8F;
            font-weight: 600;
        }
        a{
            color: #4B4A53;
            text-decoration: underline;
            &:hover, &:focus{
                color: #4B4A53;
            }
        }
        .presents__link{
            color: #E23E8F;
            font-weight: 600;
            text-decoration: underline;
            &:hover{
                color: #E23E8F;
            }
        }
        .presents__a{
            color: #E23E8F;
            text-decoration: underline;
            line-height: 30px;            
            &:hover{
                color: #E23E8F;
            }
        }
    }
    &__slider{
        width: 100%;
        margin-bottom: 50px;
        @include media(1200){
            margin-bottom: 60px;
        }
        @include media(992){
            margin-bottom: 35px;
        }
        @include media(768){
            margin-bottom: 60px;
        }
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        &-wrapper{
            width: max-content;
            display: flex;
        }
        &-slide{
            width: 100%;
        }
    }
    &__img{
        width: 100%;
        line-height: 0;
        img{
            width: 100%;
            object-fit: cover;
            line-height: 0;
        }
    }
}