mixin adress()
    section.section.adress 
        .adress__body.container
            .adress__map.disable-lg 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.1982594913916!2d37.871591761130276!3d55.68554078479153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab63c1155090f%3A0x1343dfb76781b4ed!2sUlitsa%20Kirova%2C%20Moskva%2C%20Russia!5e0!3m2!1sen!2s!4v1656349208373!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            .adress__abs 
                p.adress__p Магазин свежих цветов, букетов, подарочных корзин и шаров #[br] #[br] ВСЕ ЛУЧШЕЕ ДЛЯ ВАС В МИРЕ ЦВЕТОВ И ПОДАРКОВ #[br] #[br] ул.Кирова 13, Москва #[br] #[br] Ежедневно с 9.00 до 21.00 #[br] #[br] Доставка по округу Москва,в Подольске, Видном и Москве #[br] #[br] Оплата картой и наличными в магазине или наличными курьеру
                .adress__links 
                    a(href="#!").adress__link
                        img(src="@img/adress-icon-1.png", alt="" draggable="false" loading="lazy")
                    a(href="#!").adress__link
                        img(src="@img/adress-icon-2.png", alt="" draggable="false" loading="lazy")
                    a(href="#!").adress__link
                        img(src="@img/adress-icon-3.png", alt="" draggable="false" loading="lazy")