mixin bests()
    section.section.bests 
        .bests__body.container 
            h2.bests__title.title #[span Site.com] – все лучшее для Вас!
            .bests__content 
                .bests__item 
                