mixin clients()
    section.section.clients 
        .clients__body.container 
            h2.clients__title.title Наши #[span Клиенты]
            .clients__content 
                .clients__img 
                    
