mixin presents()
    .section.section.presents 
        .presents__body.container 
            .presents__desc.presents__desc_first
                h2.presents__title Что подарить любимым и близким? Как выразить свои чувства? 
                p.presents__p Думаете что подарить на праздник родным и близким людям? Хотите показать свои чувства второй половинке, но не знаете, как это сделать ярко и красиво, но в это же время нежно и романтично? Наш магазин «#[span Мир Цветов]» всегда готов прийти Вам на помощь в этом нелегком деле. #[br] #[br] ​Мы – это настоящая команда профессионалов, которая с легкостью опытных мастеров создает #[a(href="#!") авторские букеты] и #[a(href="#!") цветочные композиции] с использованием как #[a(href="#!") классических], так и #[a(href="#!") экзотических цветов.] У нас Вы можете купить #[a(href="#!") цветы], #[a(href="#!") букеты], #[a(href="#!") ] и #[a(href="#!") коробки], а также в нашем цветочном бутике Вы найдете широкий выбор #[a(href="#!") праздничных шаров] и #[a(href="#!") сувениров.] Всегда в наличии #[a(href="аксессуары для украшения цветов")], букетов и подарков для события любого масштаба и характера от дня рождения до свадьбы и юбилея. #[br] #[br] Наши виртуозные флористы всегда помогут Вам с выбором цветов, шаров и подарков, как у нас в цветочном магазине, так и по телефону, мессенджеру и электронной почте. Так же у нас действует доставка цветов в округе #[span Москве] и таких ближайших городах как #[span Видное, Подольск, Климовск и Москва.] Уточнить стоимость и сроки доставки цветов можно по телефону или #[a(href="#!").presents__link на сайте.] #[br] #[br] ​Мы всегда рады собрать по Вашим самым смелым фантазиям разнообразные #[a(href="авторские букеты")] и #[a(href="#!") свадебные композиции], которые наши флористы соберут при Вас или мы осуществим доставку в нужное время и место. С большой любовью к своему делу Мы составляем каждый букет из самых свежих цветов со всего мира. У нас Вы всегда сможете подобрать все необходимое для создания неповторимых авторских букетов и композиций на любой вкус и кошелек.
            .presents__slider
                .presents__swiper.swiper 
                    .presents__swiper-wrapper.swiper-wrapper
                        .presents__slide.swiper-slide 
                            .presents__img 
                                img(src="@img/presents-img-1.svg", alt="" draggable="false" loading="lazy").disable-sm
                                img(src="@img/presents-img_sm.svg", alt="" draggable="false" loading="lazy").enable-sm
                        .presents__slide.swiper-slide 
                            .presents__img 
                                img(src="@img/presents-img-1.svg", alt="" draggable="false" loading="lazy").disable-sm
                                img(src="@img/presents-img_sm.svg", alt="" draggable="false" loading="lazy").enable-sm
                        .presents__slide.swiper-slide 
                            .presents__img 
                                img(src="@img/presents-img-1.svg", alt="" draggable="false" loading="lazy").disable-sm
                                img(src="@img/presents-img_sm.svg", alt="" draggable="false" loading="lazy").enable-sm
                        .presents__slide.swiper-slide 
                            .presents__img 
                                img(src="@img/presents-img-1.svg", alt="" draggable="false" loading="lazy").disable-sm
                                img(src="@img/presents-img_sm.svg", alt="" draggable="false" loading="lazy").enable-sm
            .presents__desc
                h2.presents__title Цветы на свадьбу   
                p.presents__p Свадебная флористика является одним из основных направлений нашей деятельности. Ежесезонно наши свадебные флористы проходят обучение и следят за всеми новинками и модными тенденциями в свадебной сфере.  Над каждым букетом невесты, цветочной композицией или оформлением свадебного зала работает целая команда талантливых и высококвалифицированных флористов и декораторов, создающих как классические, так и самые современные торжества, которые останутся в Вашей памяти на долгие годы. Свадебная флористика это целый спектр услуг, начиная от встречи с клиентом и обсуждения пожеланий до организацией и контроля проведения торжества: создание авторского цветочного оформления, букета невесты, композиций на столы молодожен и гостей, цветочные композиции на машины сопровождения, оформление торжественного и банкетного залов, организация выездной регистрации, авторское создание и оформление свадебных аксессуаров ручной работы. #[br] #[a(href="#!").presents__a Подробнее]
            .presents__desc.presents__desc_last
                h2.presents__title Корпоративным клиентам
                p.presents__p Мы внимательно относимся к нашим покупателям и ценим их время и деньги. Вот почему специально для крупных клиентов мы разработали выгодный договор. При его заключении у Вас отпадет необходимость лично ехать в салон и заниматься покупкой цветов для поздравления сотрудника или бизнес-партнера.  Все дальнейшие хлопоты мы берем на себя! #[br] #[a(href="#!").presents__a Подробнее]