mixin products()
    section.section.products 
        .products__body.container 
            h2.products__title.title #[span Популярные] товары
            .products__content 
                .products__item 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
                .products__item 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
                .products__item 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
                .products__item 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
                .products__item 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
                .products__item 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
                .products__item.disable-md2 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
                .products__item.disable-md2 
                    .products__img 
                        img(src="@img/bests-img.png", alt="" draggable="false" loading="lazy")
                    p.products__subtitle №4 - #[span 2 700 руб.]
                    p.products__desc Корзина с розами, статицей, #[br] кустовыми розами, гвоздикойи сезонными вставками
            a(href="#!").products__btn.btn ПОКАЗАТЬ БОЛЬШЕ