mixin top()
    .top    
        .top__body.container 
            p.top__p МИР ЦВЕТОВ Москва  |  Магазин цветов, букетов, подарков, шаров и подарочных корзин  |  Доставка по округу  Москве
            a(href="#!").top__icon
                img(src="@img/top-icon.svg", alt="" draggable="false" loading="lazy")
            .menu 
                span.menu-btn
            .top__list 
                li.top__li 
                    a(href="#!").top__link.active #[img(src="@img/top-icon-1.svg", alt="" draggable="false" loading="lazy")] Букеты 
                li.top__li 
                    a(href="#!").top__link #[img(src="@img/top-icon-2.svg", alt="" draggable="false" loading="lazy")] Корзины                      
                li.top__li 
                    a(href="#!").top__link #[img(src="@img/top-icon-3.svg", alt="" draggable="false" loading="lazy")] В коробке 
                li.top__li 
                    a(href="#!").top__link #[img(src="@img/top-icon-4.svg", alt="" draggable="false" loading="lazy")] Свадьбы 
                li.top__li 
                    a(href="#!").top__link #[img(src="@img/top-icon-5.svg", alt="" draggable="false" loading="lazy")] Шары 
                li.top__li 
                    a(href="#!").top__link #[img(src="@img/top-icon-6.svg", alt="" draggable="false" loading="lazy")] О нас 
                li.top__li 
                    a(href="#!").top__link #[img(src="@img/top-icon-7.svg", alt="" draggable="false" loading="lazy")] Контакты
