// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: HelveticaNeueCyr;
    &:focus,
    &:active{
        outline: none;
    }
}
body{
    &.hidden{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.up{
    background: url(../img/bg.svg) top / cover no-repeat;
    @include media(427){
        background: url(../img/bg_md.svg) top / cover no-repeat;
    }
}
.title{
    font-family: Lobster;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #4B4A53;
    span{
        font-family: Lobster;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #E23E8F;
    }
}
.btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #E23E8F;
    border: 5px solid rgba(226, 62, 143, 0.5);
    width: 356px;
    height: 64px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}